@import "variables";

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    background: $light-color;
    color: $dark-color;
    font-family: $font-stack;
    line-height: 1.5;
}

header {
    background: $dark-color;
    color: $light-color;

    h1 {
        font-size: 2.3rem;
        text-align: center;
    }
}

.section {
    padding: 3rem;

    h3 {
        font-size: 1.6rem;
    }

    &-a {
        background: $primary-color;
        color: $light-color;
    }

    &-b {
        background: $secondary-color;
        color: $light-color;
    }
}

a {
    color: #333333;

    &:hover {
        color: coral;
    }
}

// This is the value which can be extended across the classes
%btn-shared {
    cursor: pointer;
    text-decoration: none;
    border: none;
    padding: 0.7rem 2rem;
    display: inline-block;
    margin-top: 1rem;
}

.btn {
    &-dark {
        @extend %btn-shared;
        background: $dark-color;
        color: $light-color;
    }

    &-light {
        @extend %btn-shared;
        color: $dark-color;
        background: $light-color;
    }
}
